streamlit
ultralytics>=8.3.91
torch>=2.2.0
pytesseract
pyyaml
aiohttp
requests
opencv-python-headless
# block cv2 desktop version that breaks cloud deployments
opencv-python==4.6.0.66  # older version to satisfy deps